[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pythainlp = "*"
pandas = "*"
nltk = "*"
transformers = "*"
fairseq = "*"
sacremoses = "*"
sentencepiece = "*"
st-annotated-text = "*"

[dev-packages]

[requires]
python_version = "3.8"
